.navbar {
  border: 0;
}

footer.footer {
  background: #1c1c1c;
}

.hero {
  background: #fff;
  padding-bottom: 3em;
}

.hero__container {
  max-width: 1000px;
  color: #1c1c1c;
  margin: 0 auto;
}

.hero__container .form__group {
  margin-top: 1em;
  width: 80%;
}

.container {
  max-width: 1200px;
}

.input__group {
  display: flex;
}

.input__group .button {
  flex-shrink: 0;
  margin-left: 1em;
}

.panel {
  border: 0;
  border-radius: 0;
}

hr {
  border-top: 0;
  margin: 2em 0;
}
